<div class="col-md-12 mb-4 white-text text-center wow fadeIn">

<h1 class="display-3 font-weight-bold white-text mb-0 pt-md-2 pt-5">Notes App</h1>
<hr class="hr-light my-4 w-75">
<h4 class="subtext-header mt-2 mb-4">Agregá las notas que necesites</h4>
